:root {
  --color-personal-back: #001c78d6;
  --color-personal-back-mobile: #001c78;
  --color-white: #fff;
  --collor-black: #000;
  --color-grey: #c5c2c2;
  --color-white-grey: #fff0f0;
  --color_back-main: #ece8e8;
  --transparent: transparent;
  --color-red: #921919;
}